* {
	list-style: none;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@200;400;600&display=swap');

/* Starting of Navbar For Desktop */

::-webkit-scrollbar {
	display: none;
}

.app-header {
	background: skyblue;
	width: 100%;
	position: relative;
	z-index: 9999;
	transition: all ease-in-out 350ms;
}

.container-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	transition: all ease-in-out 350ms;
	padding: 0px 15px;
}

.container-div > ul {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	padding-left: 0px;
}

#mobile_hamburger {
	display: none;
}

.ham-burger-menu > svg > path {
	transition: all ease-in-out 450ms;
}

.burger-menu-container > svg > path:nth-child(1) {
	transform: rotate(-45deg);
	-webkit-transform-origin: 6px 22px;
	-ms-transform-origin: 6px 22px;
	transform-origin: 6px 22px;
}

.burger-menu-container > svg > path:nth-child(2) {
	opacity: 0;
}

.burger-menu-container > svg > path:nth-child(3) {
	transform: rotate(45deg);
	-webkit-transform-origin: 4px 9px;
	-ms-transform-origin: 4px 9px;
	transform-origin: 4px 9px;
}

.navbar-heading {
	font-size: 1.5rem;
	padding: 10px;
	margin-top: 20px;
	font-family: 'PT Serif', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 4px;
	color: #000;
	cursor: pointer;
	transition: all ease-in-out 450ms;
}

.container-div > ul > li {
	display: inline-block;
	font-size: 0.8125000000000001rem;
	line-height: 1.53846154;
	text-transform: uppercase;
	color: #757575;
	letter-spacing: 1.5px;
	margin: 0px 10px;
	cursor: pointer;
	transition: all ease-in-out 450ms;
}

.container-div > ul > li:hover {
	transform: scale(1.2);
}

.offcanvas-start {
	height: 100vh;
	width: 100%;
}

.logo-bg-line-cont {
	text-align: center;
	width: 100%;
	transition: all ease-in-out 350ms;
	transform: scaleY(0);
	transform-origin: top;
}

#navbar_logo {
	height: 100px;
	transition: all ease-in-out 350ms;
	user-select: none;
}

.nav-bottom-links {
	transition: all ease-in-out 350ms;
	opacity: 0;
	position: relative;
	z-index: -9;
}

.nav-bottom-links > ul {
	max-width: 100%;
	visibility: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.nav-bottom-links > ul > li {
	color: #f9f9f9;
	display: inline-block;
	/* font-family: WilliamsCaslonText, 'Times New Roman', Times, serif; */
	font-family: 'PT Serif', serif;
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 0.09375rem;
	line-height: normal;
	padding: 0.6125rem 1.25rem;
	text-align: center;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.nav-bottom-links > ul > li::after {
	content: '';
	position: absolute;
	left: 1.25rem;
	bottom: 0px;
	height: 1px;
	width: -webkit-calc(100% - 2.5rem);
	width: calc(100% - 2.5rem);
	background-color: #b5a663;
	transform: scaleX(0);
	transition: transform 0.45s ease-out;
}

.nav-bottom-links > ul > li:hover::after {
	transform: scaleX(1);
	transform-origin: bottom center;
}

/* End of Navbar For Desktop */

/* Starting of Footer */

.footer-outer-div {
	background: skyblue !important;
}

.Footer-logo img {
	/* height: 200px; */
	width: 200px;
	display: inline;
}

.footer-h3 {
	color: #000;
	margin: 0 0 20px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'PT Serif', serif;
	font-weight: 400 !important;
	letter-spacing: 0.2rem;
}

.footer-text {
	font-size: large;
	text-align: justify;
	font-family: 'RegularCaslon';
	/* text-align: left; */
	color: #fff;
	line-height: 1.6rem;
}

.form-control {
	background: #000000;
	border: none;
	border-bottom: 1px solid #cccccc;
}

.footer-form {
	color: #fff;
}

.footer-reach-us {
	color: #fff;
	font-family: 'RegularCaslon';
	line-height: 1.6rem;
	padding: 11px 0 11px !important;
}

.footer-reach-us > ul {
	padding-left: 0;
}

.footer-reach-us ul li {
	margin-bottom: 20px;
}

.footer-reach-us ul li a {
	display: flex;
	text-decoration: none;
	color: #fff;
}

.footer-reach-us .f-nav {
	color: #000;
	text-decoration: none;
}

.social-links a {
	margin-right: 5px !important;
	border-bottom: none !important;
}

.nav .nav-item a {
	font-family: 'RegularCaslon';
	font-size: 16px;
	color: #fff;
	padding: 11px 0 11px !important;
	border-bottom: 1px solid #767676;
	width: 75%;
	font-weight: 400 !important;
}

.nav .nav-item .nav-link:hover {
	color: blue;
}

.nav .nav-item .social-links {
	margin-left: 8px;
}

.nav .nav-item .social-links:hover {
	color: blue;
}

@media screen and (max-width: 900px) {
	.col-sm-6 {
		margin-bottom: 5rem !important;
	}
}

/* Ending of footer */

.contactUSPage {
	background: linear-gradient(
		90deg,
		#0e3959 0%,
		#0e3959 30%,
		#03a9f5 30%,
		#03a9f5 100%
	);
	box-sizing: border-box;
}

.contactUs {
	position: relative;
	width: 100%;
	padding: 40px 100px;
}

.contactUs .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.contactUs .title h2 {
	color: #fff;
	font-weight: 500;
}

.box {
	position: relative;
}

.form {
	grid-area: form;
}

.info {
	grid-area: info;
}

.map {
	grid-area: map;
}

.contact {
	padding: 40px;
	background-color: #fff;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
}

.box {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 5fr 4fr;
	grid-template-areas: 'form info' 'form map';
	gap: 20px;
}

.contact h3 {
	color: #0e3959;
	font-weight: 500;
	font-size: 1.4em;
	margin-bottom: 10px;
}

.formBox {
	position: relative;
	width: 100%;
}

.formBox .row50 {
	display: flex;
	gap: 20px;
}

.inputBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 50%;
}

.formBox .row100 .inputBox {
	width: 100%;
}

.inputBox span {
	color: #18b7ff;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 5px;
}

.inputBox input,
textarea {
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
}

.inputBox textarea {
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
	resize: none;
	min-height: 220px;
}

.inputBox input[type='submit'] {
	background: #ff578b;
	color: #fff;
	border: none;
	font-size: 1.1em;
	max-width: 120px;
	font-weight: 500;
	cursor: pointer;
}

.inputBox ::placeholder {
	color: #999;
}

.info {
	background: #0e3959;
}

.info h3 {
	color: #fff;
}

.info .infoBox div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.info .infoBox div span {
	min-width: 40px;
	height: 40px;
	color: #fff;
	background: #18b7ff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	border-radius: 50%;
	margin-right: 15px;
}

.info .infoBox div p {
	color: #fff;
	font-size: 1.1em;
}

.info .infoBox div a {
	color: #fff;
	text-decoration: none;
}

.sci {
	margin-top: 30px;
	display: flex;
	padding: 0;
}

.sci li {
	list-style: none;
	margin: 0 15px 0 15px;
}

.sci li a {
	color: #fff;
}

.map {
	padding: 0;
}

.map iframe {
	width: 100%;
	height: 100%;
}

/* Contact Us Page */

/* End of Contact Us Page */

/* Media Queries for Mobile Device */

@media screen and (max-width: 900px) {
	.app-header {
		height: 75px !important;
	}

	.container-div {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 75px;
	}

	.container-div > ul {
		min-width: 60px;
	}

	.navbar-heading {
		font-size: 1rem;
		margin: 13px auto 0px;
	}

	#navbar_logo {
		height: 50px !important;
		transition: all ease-in-out 350ms;
		user-select: none;
	}

	#mobile_hamburger {
		display: block;
	}

	#hamburger {
		display: none;
	}

	.burger-menu-container {
		display: inline;
		margin-left: 15px;
	}

	.logo-bg-line-cont {
		display: none !important;
	}

	.nav-bottom-links {
		display: none !important;
	}

	.navbar-heading {
		font-size: 1rem !important;
		margin-top: 0px !important;
	}

	.mobile_links_container > li {
		color: #070322;
		display: block;
		font-size: 1rem;
		letter-spacing: normal;
		line-height: 1.6;
		padding: 0.875rem 1.25rem;
		font-family: 'PT Serif', serif;
		/* text-align: center; */
		text-transform: uppercase;
		cursor: pointer;
		border: 1px dashed #070322;
	}

	.card-Home-title {
		font-size: 16px !important;
	}

	.card-img-overlay {
		top: 20% !important;
	}

	.contactUSPage {
		background: #03a9f5;
	}

	.contactUs {
		padding: 20px;
	}

	.box {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 'form' 'info' 'map';
	}

	.map {
		min-height: 350px;
	}

	.formBox .row50 {
		display: flex;
		gap: 0;
		flex-direction: column;
	}

	.inputBox {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		width: 100%;
	}
	.contact {
		padding: 25px;
	}

	.map {
		padding: 0;
	}
}
