* {
	list-style: none;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@200;400;600&display=swap');

/* Starting of Navbar For Desktop */

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	display: block;
	color: #000000;
}

.app-header {
	background: skyblue;
	width: 100%;
	position: relative;
	z-index: 9999;
	transition: all ease-in-out 350ms;
}

.container-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	transition: all ease-in-out 350ms;
	padding: 0px 15px;
}

.container-div > ul {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	padding-left: 0px;
}

#mobile_hamburger {
	display: none;
}

.ham-burger-menu > svg > path {
	transition: all ease-in-out 450ms;
}

.burger-menu-container > svg > path:nth-child(1) {
	transform: rotate(-45deg);
	-webkit-transform-origin: 6px 22px;
	-ms-transform-origin: 6px 22px;
	transform-origin: 6px 22px;
}

.burger-menu-container > svg > path:nth-child(2) {
	opacity: 0;
}

.burger-menu-container > svg > path:nth-child(3) {
	transform: rotate(45deg);
	-webkit-transform-origin: 4px 9px;
	-ms-transform-origin: 4px 9px;
	transform-origin: 4px 9px;
}

.navbar-heading {
	font-size: 1.5rem;
	padding: 10px;
	margin-top: 20px;
	font-family: 'PT Serif', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 4px;
	color: #000;
	cursor: pointer;
	transition: all ease-in-out 450ms;
}

.container-div > ul > li {
	display: inline-block;
	font-size: 0.8125000000000001rem;
	line-height: 1.53846154;
	text-transform: uppercase;
	color: #757575;
	letter-spacing: 1.5px;
	margin: 0px 10px;
	cursor: pointer;
	transition: all ease-in-out 450ms;
}

.container-div > ul > li:hover {
	transform: scale(1.2);
}

.offcanvas-start {
	height: 100vh;
	width: 100%;
}

.logo-bg-line-cont {
	text-align: center;
	width: 100%;
	transition: all ease-in-out 350ms;
	transform: scaleY(0);
	transform-origin: top;
}

#navbar_logo {
	height: 100px;
	transition: all ease-in-out 350ms;
	user-select: none;
}

.nav-bottom-links {
	transition: all ease-in-out 350ms;
	opacity: 0;
	position: relative;
	z-index: -9;
}

.nav-bottom-links > ul {
	max-width: 100%;
	visibility: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.nav-bottom-links > ul > li {
	color: #f9f9f9;
	display: inline-block;
	/* font-family: WilliamsCaslonText, 'Times New Roman', Times, serif; */
	font-family: 'PT Serif', serif;
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 0.09375rem;
	line-height: normal;
	padding: 0.6125rem 1.25rem;
	text-align: center;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.nav-bottom-links > ul > li::after {
	content: '';
	position: absolute;
	left: 1.25rem;
	bottom: 0px;
	height: 1px;
	width: -webkit-calc(100% - 2.5rem);
	width: calc(100% - 2.5rem);
	background-color: #b5a663;
	transform: scaleX(0);
	transition: transform 0.45s ease-out;
}

.nav-bottom-links > ul > li:hover::after {
	transform: scaleX(1);
	transform-origin: bottom center;
}

/* End of Navbar For Desktop */

/* Starting of Footer */

.footer-outer-div {
	background: skyblue !important;
}

.Footer-logo img {
	/* height: 200px; */
	width: 200px;
	display: inline;
}

.footer-h3 {
	color: #000;
	margin: 0 0 20px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'PT Serif', serif;
	font-weight: 400 !important;
	letter-spacing: 0.2rem;
}

.footer-text {
	font-size: large;
	text-align: justify;
	font-family: 'RegularCaslon';
	/* text-align: left; */
	color: #fff;
	line-height: 1.6rem;
}

.form-control {
	background: #000000;
	border: none;
	border-bottom: 1px solid #cccccc;
}

.footer-form {
	color: #fff;
}

.footer-reach-us {
	color: #fff;
	font-family: 'RegularCaslon';
	line-height: 1.6rem;
	padding: 11px 0 11px !important;
}

.footer-reach-us > ul {
	padding-left: 0;
}

.footer-reach-us ul li {
	margin-bottom: 20px;
}

.footer-reach-us ul li a {
	display: flex;
	text-decoration: none;
	color: #fff;
}

.footer-reach-us .f-nav {
	color: #000;
	text-decoration: none;
}

.social-links a {
	margin-right: 5px !important;
	border-bottom: none !important;
}

.nav .nav-item a {
	font-family: 'RegularCaslon';
	font-size: 16px;
	color: #fff;
	padding: 11px 0 11px !important;
	border-bottom: 1px solid #767676;
	width: 75%;
	font-weight: 400 !important;
}

.nav .nav-item .nav-link:hover {
	color: blue;
}

.nav .nav-item .social-links {
	margin-left: 8px;
}

.nav .nav-item .social-links:hover {
	color: blue;
}

@media screen and (max-width: 900px) {
	.col-sm-6 {
		margin-bottom: 5rem !important;
	}
}

/* Ending of footer */

.contactUSPage {
	background: linear-gradient(
		90deg,
		#0e3959 0%,
		#0e3959 30%,
		#03a9f5 30%,
		#03a9f5 100%
	);
	box-sizing: border-box;
}

.contactUs {
	position: relative;
	width: 100%;
	padding: 40px 100px;
}

.contactUs .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.contactUs .title h2 {
	color: #fff;
	font-weight: 500;
}

.box {
	position: relative;
}

.form {
	grid-area: form;
	display: flex;
	flex-direction: column;
}

.info {
	grid-area: info;
}

.map {
	grid-area: map;
}

.contact {
	padding: 40px;
	background-color: #fff;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
}

.box {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 5fr 4fr;
	grid-template-areas: 'form info' 'form map';
	gap: 20px;
}

.contact h3 {
	color: #0e3959;
	font-weight: 500;
	font-size: 1.4em;
	margin-bottom: 10px;
}

.formBox {
	position: relative;
	width: 100%;
}

.formBox .row50 {
	display: flex;
	gap: 20px;
}

.inputBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 50%;
}

.formBox .row100 .inputBox {
	width: 100%;
}

.inputBox span {
	color: #18b7ff;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 5px;
}

.inputBox input,
textarea {
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
}

.inputBox textarea {
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
	resize: none;
	min-height: 220px;
}

.inputBox input[type='submit'] {
	background: #ff578b;
	color: #fff;
	border: none;
	font-size: 1.1em;
	max-width: 120px;
	font-weight: 500;
	cursor: pointer;
}

.inputBox ::placeholder {
	color: #999;
}

.info {
	background: #0e3959;
}

.info h3 {
	color: #fff;
}

.info .infoBox div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.info .infoBox div span {
	min-width: 40px;
	height: 40px;
	color: #fff;
	background: #18b7ff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	border-radius: 50%;
	margin-right: 15px;
}

.info .infoBox div p {
	color: #fff;
	font-size: 1.1em;
}

.info .infoBox div a {
	color: #fff;
	text-decoration: none;
}

.sci {
	margin-top: 30px;
	display: flex;
	padding: 0;
}

.sci li {
	list-style: none;
	margin: 0 15px 0 15px;
}

.sci li a {
	color: #fff;
}

.map {
	padding: 0;
}

.map iframe {
	width: 100%;
	height: 100%;
}

/* Contact Us Page */

/* End of Contact Us Page */

/* Media Queries for Mobile Device */

@media screen and (max-width: 900px) {
	.app-header {
		height: 75px !important;
	}

	.container-div {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 75px;
	}

	.container-div > ul {
		min-width: 60px;
	}

	.navbar-heading {
		font-size: 1rem;
		margin: 13px auto 0px;
	}

	#navbar_logo {
		height: 50px !important;
		transition: all ease-in-out 350ms;
		user-select: none;
	}

	#mobile_hamburger {
		display: block;
	}

	#hamburger {
		display: none;
	}

	.burger-menu-container {
		display: inline;
		margin-left: 15px;
	}

	.logo-bg-line-cont {
		display: none !important;
	}

	.nav-bottom-links {
		display: none !important;
	}

	.navbar-heading {
		font-size: 1rem !important;
		margin-top: 0px !important;
	}

	.mobile_links_container > li {
		color: #070322;
		display: block;
		font-size: 1rem;
		letter-spacing: normal;
		line-height: 1.6;
		padding: 0.875rem 1.25rem;
		font-family: 'PT Serif', serif;
		/* text-align: center; */
		text-transform: uppercase;
		cursor: pointer;
		border: 1px dashed #070322;
	}

	.card-Home-title {
		font-size: 16px !important;
	}

	.card-img-overlay {
		top: 20% !important;
	}

	.contactUSPage {
		background: #03a9f5;
	}

	.contactUs {
		padding: 20px;
	}

	.box {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 'form' 'info' 'map';
	}

	.map {
		min-height: 350px;
	}

	.formBox .row50 {
		display: flex;
		gap: 0;
		flex-direction: column;
	}

	.inputBox {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		width: 100%;
	}
	.contact {
		padding: 25px;
	}

	.map {
		padding: 0;
	}
}

button {
	outline: none;
	border: none;
}

.input,
.passwordInput,
.emailInput,
.nameInput,
.textarea {
	box-shadow: rgba(0, 0, 0, 0.11);
	/* border: none; */
	background: #ffffff;
	border-radius: 3rem;
	height: 3rem;
	width: 100%;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	padding: 0 3rem;
	font-size: 1rem;
}
@media (min-width: 1100px) {
	.input,
	.passwordInput,
	.emailInput,
	.nameInput,
	.textarea {
		padding: 0 5rem;
	}
}

.textarea {
	padding: 1rem 1.5rem;
	height: 300px;
	border-radius: 1rem;
}

.primaryButton {
	cursor: pointer;
	background: #00cc66;
	border-radius: 1rem;
	padding: 0.85rem 2rem;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.25rem;
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.removeIcon {
	cursor: pointer;
	position: absolute;
	top: -3%;
	right: -2%;
}

.editIcon {
	cursor: pointer;
	position: absolute;
	top: -3.4%;
	right: 20px;
}

.pageContainer,
.offers,
.profile,
.listingDetails,
.category,
.explore {
	margin: 1rem;
}

@media (min-width: 1024px) {
	.pageContainer,
	.offers,
	.profile,
	.listingDetails,
	.category,
	.explore {
		margin: 3rem;
	}
}

.loadingSpinnerContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingSpinner {
	width: 64px;
	height: 64px;
	border: 8px solid;
	border-color: #00cc66 transparent #00cc66 transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.pageHeader {
	font-size: 2rem;
	font-weight: 800;
}

.navbar {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 85px;
	background-color: #ffffff;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbarNav {
	width: 100%;
	margin-top: 0.75rem;
	overflow-y: hidden;
}

.navbarListItems {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navbarListItem {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbarListItemName,
.navbarListItemNameActive {
	margin-top: 0.25rem;
	font-size: 14px;
	font-weight: 600;
	color: #8f8f8f;
}
.navbarListItemNameActive {
	color: #2c2c2c;
}

.nameInput {
	margin-bottom: 2rem;
	background: url('./assests/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
}

.emailInput {
	margin-bottom: 2rem;
	background: url('./assests/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.passwordInputDiv {
	position: relative;
}

.passwordInput {
	margin-bottom: 2rem;
	background: url('./assests/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

.showPassword {
	cursor: pointer;
	position: absolute;
	top: -4%;
	right: 1%;
	padding: 1rem;
}

.forgotPasswordLink {
	cursor: pointer;
	color: #00cc66;
	font-weight: 600;
	text-align: right;
}

.signInBar,
.signUpBar {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: inherit;
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
	cursor: pointer;
}
@media (min-width: 1024px) {
	.signInBar,
	.signUpBar {
		justify-content: start;
	}
}

.signInText,
.signUpText {
	font-size: 1.5rem;
	font-weight: 700;
}

.signInButton,
.signUpButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background-color: #00cc66;
	border-radius: 50%;
}
@media (min-width: 1024px) {
	.signInButton,
	.signUpButton {
		margin-left: 3rem;
	}
}

.socialLogin {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialIconDiv {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75rem;
	margin: 1.5rem;
	width: 3rem;
	height: 3rem;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.socialIconImg {
	width: 100%;
}

.registerLink {
	margin-top: 4rem;
	color: #00cc66;
	font-weight: 600;
	text-align: center;
	margin-bottom: 3rem;
}

@media (min-width: 1217px) {
	.explore {
		margin-bottom: 10rem;
	}
}
@media (max-height: 536) {
	.explore {
		margin-bottom: 10rem;
	}
}

.exploreHeading,
.exploreCategoryHeading {
	font-weight: 700;
}

.exploreCategoryHeading {
	margin-top: 3rem;
}

.swiper-container {
	min-height: 225px;
	height: 23vw;
}

.swiper-pagination-bullet-active {
	background-color: #ffffff !important;
}

.swiperSlideDiv {
	position: relative;
	width: 100%;
	height: 100%;
}

.swiperSlideImg {
	width: 100%;
	object-fit: cover;
}

.swiperSlideText {
	color: #ffffff;
	position: absolute;
	top: 70px;
	left: 0;
	font-weight: 600;
	max-width: 90%;
	font-size: 1.25rem;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0.5rem;
}
@media (min-width: 1024px) {
	.swiperSlideText {
		font-size: 1.75rem;
	}
}

.swiperSlidePrice {
	color: #000000;
	position: absolute;
	top: 143px;
	left: 11px;
	font-weight: 600;
	max-width: 90%;
	background-color: #ffffff;
	padding: 0.25rem 0.5rem;
	border-radius: 1rem;
}
@media (min-width: 1024px) {
	.swiperSlidePrice {
		font-size: 1.25rem;
	}
}

.exploreCategories {
	display: flex;
	justify-content: space-between;
}
.exploreCategories a {
	width: 48%;
}

.exploreCategoryImg {
	min-height: 115px;
	height: 15vw;
	width: 100%;
	border-radius: 1.5rem;
	object-fit: cover;
	margin: 0 auto;
}

.exploreCategoryName {
	font-weight: 500;
	text-align: left;
}

.category {
	margin-bottom: 10rem;
}

.categoryListings {
	padding: 0;
}

.categoryListing {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	position: relative;
}

.categoryListingLink {
	display: contents;
}

.categoryListingImg {
	width: 30%;
	height: 100px;
	border-radius: 1.5rem;
	object-fit: cover;
}
@media (min-width: 1024px) {
	.categoryListingImg {
		width: 19%;
		height: 217px;
	}
}

.categoryListingDetails {
	width: 65%;
}
@media (min-width: 1024px) {
	.categoryListingDetails {
		width: 79%;
	}
}

.categoryListingLocation {
	font-weight: 600;
	font-size: 0.7rem;
	opacity: 0.8;
	margin-bottom: 0;
}

.categoryListingName {
	font-weight: 600;
	font-size: 1.25rem;
	margin: 0;
}

.categoryListingPrice {
	margin-top: 0.5rem;
	font-weight: 600;
	font-size: 1.1rem;
	color: #00cc66;
	margin-bottom: 0;
	display: flex;
	align-items: center;
}

.categoryListingInfoDiv {
	display: flex;
	justify-content: space-between;
	max-width: 275px;
}

.categoryListingInfoText {
	font-weight: 500;
	font-size: 0.7rem;
}

.loadMore {
	cursor: pointer;
	width: 8rem;
	margin: 0 auto;
	text-align: center;
	padding: 0.25rem 0.5rem;
	background-color: #000000;
	color: #ffffff;
	font-weight: 600;
	border-radius: 1rem;
	opacity: 0.7;
	margin-top: 2rem;
}

.listingDetails {
	margin-bottom: 10rem;
}

.shareIconDiv {
	cursor: pointer;
	position: fixed;
	top: 3%;
	right: 5%;
	z-index: 2;
	background-color: #ffffff;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.listingName {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.listingLocation {
	margin-top: 0;
	font-weight: 600;
}

.discountPrice {
	padding: 0.25rem 0.5rem;
	background-color: #000000;
	color: #ffffff;
	border-radius: 1rem;
	font-size: 0.8rem;
	font-weight: 600;
	display: inline;
}

.listingType {
	padding: 0.25rem 0.5rem;
	background-color: #00cc66;
	color: #ffffff;
	border-radius: 2rem;
	display: inline;
	font-weight: 600;
	font-size: 0.8rem;
	margin-right: 1rem;
}

.listingDetailsList {
	padding: 0;
	list-style-type: none;
}
.listingDetailsList li {
	margin: 0.3rem 0;
	font-weight: 500;
	opacity: 0.8;
}

.listingLocationTitle {
	margin-top: 2rem;
	font-weight: 600;
	font-size: 1.25rem;
}

.leafletContainer {
	width: 100%;
	height: 200px;
	overflow-x: hidden;
	margin-bottom: 3rem;
}
@media (min-width: 1024px) {
	.leafletContainer {
		height: 400px;
	}
}

.linkCopied {
	position: fixed;
	top: 9%;
	right: 5%;
	z-index: 2;
	background-color: #ffffff;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	font-weight: 600;
}

.contactListingName {
	margin-top: -1rem;
	margin-bottom: 0;
	font-weight: 600;
}

.contactListingLocation {
	margin-top: 0.25rem;
	font-weight: 600;
}

.contactLandlord {
	margin-top: 2rem;
	display: flex;
	align-items: center;
}

.landlordName {
	font-weight: 600;
	font-size: 1.2rem;
}

.messageForm {
	margin-top: 0.5rem;
}

.messageDiv {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
}

.messageLabel {
	margin-bottom: 0.5rem;
}

.profile {
	margin-bottom: 10rem;
}

.profileHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logOut {
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: #ffffff;
	background-color: #00cc66;
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;
}

.profileDetailsHeader {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
}

.personalDetailsText {
	font-weight: 600;
}

.changePersonalDetails {
	cursor: pointer;
	font-weight: 600;
	color: #00cc66;
}

.profileCard {
	background-color: #ffffff;
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.2);
	max-width: 500px;
}

.profileDetails {
	display: flex;
	flex-direction: column;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
	all: unset;
	margin: 0.3rem 0;
	font-weight: 600;
	width: 100%;
}
.profileNameActive {
	background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
	font-weight: 500;
}
.profileEmailActive {
	background-color: rgba(44, 44, 44, 0.1);
}

.profileAddressActive {
	background-color: rgba(44, 44, 44, 0.1);
}

.createListing {
	background-color: #ffffff;
	border-radius: 1rem;
	padding: 0.25rem 1rem;
	box-shadow: rgba(0, 0, 0, 0.2);
	margin-top: 2rem;
	font-weight: 600;
	max-width: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.listingText {
	margin-top: 3rem;
	font-weight: 600;
}

.lisitingsList {
	padding: 0;
}

.formLabel {
	font-weight: 600;
	margin-top: 1rem;
	display: block;
}

.formButtons {
	display: flex;
}

.formButton,
.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile,
.formButtonActive {
	padding: 0.9rem 3rem;
	background-color: #ffffff;
	font-weight: 600;
	border-radius: 1rem;
	font-size: 1rem;
	margin: 0.5rem 0.5rem 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.formButtonActive {
	background-color: #00cc66;
	color: #ffffff;
}

.flex {
	display: flex;
}

.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile {
	border: none;
	outline: none;
	font-family: 'Montserrat', sans-serif;
}
.formInputSmall,
.formInputFile {
	margin-right: 3rem;
	padding: 0.9rem 0.7rem;
	text-align: center;
}

.formInputName {
	padding: 0.9rem 1rem;
	width: 90%;
	max-width: 326px;
}

.formInputAddress {
	padding: 0.9rem 1rem;
	width: 90%;
	max-width: 326px;
}

.formPriceDiv {
	display: flex;
	align-items: center;
}

.formPriceText {
	margin-left: -1.5rem;
	font-weight: 600;
}

.imagesInfo {
	font-size: 0.9rem;
	opacity: 0.75;
}

.formInputFile {
	width: 100%;
}
.formInputFile::-webkit-file-upload-button {
	background-color: #00cc66;
	border: none;
	color: #ffffff;
	font-weight: 600;
	padding: 0.5rem 0.75rem;
	border-radius: 1rem;
	margin-right: 1rem;
}

.createListingButton {
	margin-top: 5rem;
}

.offers {
	margin-bottom: 10rem;
}

.offerBadge {
	padding: 0.25rem 0.5rem;
	background-color: #000000;
	color: #ffffff;
	border-radius: 1rem;
	margin-left: 1rem;
	font-size: 0.8rem;
	opacity: 0.75;
}
